.pa-item {
  flex-direction: row;
  flex-grow: 1;
  padding: 10px;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 2px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.pa-item:hover {
  transform: scale(1.3);
  border: 1px solid #000;
}

.pa-principle {
  background-color: #884165;
}

.pa-agile {
  background-color: #ec696d;
}

.pa-practice {
  background-color: #fddd9d;
}

.pa-essential {
  background-color: #a69ec1;
}

.pa-team {
  background-color: #46a2c5;
}